.input, input, textarea, select {
  background: var(--dark);
  color: var(--text);
  border: 1.5px solid var(--secondary);
  border-radius: 8px;
  font-size: 1rem;
  padding: .75em 1em;
  margin-bottom: 1.1em;
  width: 100%;
  transition: border .18s;
}
input:focus, textarea:focus, select:focus {
  border-color: var(--primary);
  outline: 1.5px solid var(--cyan);
}
.label {
  color: var(--text-secondary);
  font-size: .95rem;
  font-weight: 500;
  margin-bottom: .3em;
  display: block;
}
.input.error { border: 1.6px solid var(--pink); }

